# Generic .gitignore placeholder
# Add files/directories to ignore in Git version control

# Byte-code files
*.pyc
__pycache__

# C/C++ build artifacts
*.o
*.so
*.dll
*.exe
*.obj
*.lib
*.a
*.out

# Temporary files
temp
tmp
*.tmp
*.log
test.*
test_mccp_proj
test*.py

# Backup files
*backup*

# IDE specific files
.idea
.vscode
*.swp
*~

# files that contain sensitive info (handle carefully!!)
.mccp_config/mccp_api_config.json

# User-specific settings
.DS_Store # macOS
Thumbs.db # Windows
